1Ô∏è‚É£ Importing Libraries

In [1]:
import numpy as np
import pandas as pd

2Ô∏è‚É£ Loading the Dataset

In [2]:
df = pd.read_csv("coffee_shop_sales.csv")

3Ô∏è‚É£ Converting Data Types (Pandas)

In [3]:
df['Date'] = pd.to_datetime(df['Date'])

4Ô∏è‚É£ Checking & Handling Missing Values

In [4]:
df.isnull().sum()        # Check missing values
df = df.dropna()         # Remove rows with missing values

5Ô∏è‚É£ Adding New Columns (NumPy + Pandas)
‚úî Extracting Month & Day

In [ ]:
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day_name()

# Creating High/Low Sales Flag (NumPy)


df['Sales_Tag'] = np.where(df['Total_Sales'] > 10, 'High', 'Low')

6Ô∏è‚É£ Grouping & Aggregation

In [6]:
# Total Sales per Category
category_sales = df.groupby('Category')['Total_Sales'].sum()

# Total Sales per Month
monthly_sales = df.groupby(df['Date'].dt.to_period('M'))['Total_Sales'].sum()

7Ô∏è‚É£ Sorting Data

In [7]:
df.sort_values(by='Total_Sales', ascending=False).head()

,Date,Day_of_Week,Product_Name,Category,Quantity,Unit_Price,Total_Sales,Customer_Type,Time_Period,Month,Day
93,2024-05-24,Friday,Breakfast Sandwich,Sandwich,3,6.5,19.5,New,Morning,5,Friday
529,2024-01-12,Friday,Turkey Club,Sandwich,2,8.5,17.0,Regular,Morning,1,Friday
2,2024-02-22,Thursday,Turkey Club,Sandwich,2,8.5,17.0,Regular,Morning,2,Thursday
185,2024-03-27,Wednesday,Turkey Club,Sandwich,2,8.5,17.0,New,Morning,3,Wednesday
461,2024-04-17,Wednesday,Mocha,Coffee,3,5.0,15.0,Regular,Morning,4,Wednesday

8Ô∏è‚É£ Filtering Data

In [8]:
#Filter all Coffee category sales

df[df['Category'] == 'Coffee']

#Filter Morning sales
df[df['Time_Period'] == 'Morning']

,Date,Day_of_Week,Product_Name,Category,Quantity,Unit_Price,Total_Sales,Customer_Type,Time_Period,Month,Day
0,2024-06-28,Friday,Breakfast Sandwich,Sandwich,1,6.50,6.50,Regular,Morning,6,Friday
2,2024-02-22,Thursday,Turkey Club,Sandwich,2,8.50,17.00,Regular,Morning,2,Thursday
3,2024-01-21,Sunday,Chai Tea Latte,Beverage,1,4.25,4.25,Regular,Morning,1,Sunday
4,2024-02-28,Wednesday,Mocha,Coffee,1,5.00,5.00,New,Morning,2,Wednesday
5,2024-06-23,Sunday,Chai Tea Latte,Beverage,1,4.25,4.25,New,Morning,6,Sunday
...,...,...,...,...,...,...,...,...,...,...,...
645,2024-02-02,Friday,Iced Tea,Beverage,1,2.75,2.75,Regular,Morning,2,Friday
646,2024-05-26,Sunday,Muffin,Pastry,1,2.75,2.75,New,Morning,5,Sunday
647,2024-03-03,Sunday,Mocha,Coffee,3,5.00,15.00,Regular,Morning,3,Sunday
648,2024-01-17,Wednesday,Americano,Coffee,1,3.00,3.00,New,Morning,1,Wednesday
649,2024-03-22,Friday,Croissant,Pastry,1,3.25,3.25,Regular,Morning,3,Friday

9Ô∏è‚É£ Using NumPy for Calculations

In [9]:
average_sale = np.mean(df['Total_Sales'])
max_sale     = np.max(df['Total_Sales'])
min_sale     = np.min(df['Total_Sales'])

üîü Value Counts (Pandas)

Used to find the most popular products.

In [10]:
df['Product_Name'].value_counts().head(10)

Product_Name
Mocha         72
Espresso      71
Macchiato     64
Latte         60
Americano     52
Cappuccino    46
Danish        39
Croissant     33
Cookie        31
Smoothie      28
Name: count, dtype: int64

üéØ Summary of Data Manipulation Performed

‚úî Loaded and cleaned dataset
‚úî Converted dates using Pandas
‚úî Extracted Month and Day features
‚úî Created calculated NumPy feature (Sales_Tag)
‚úî Performed grouping & aggregation
‚úî Sorted and filtered the dataset
‚úî Used NumPy for statistical calculations
‚úî Prepared the dataset for further visualization & insights